{erl_opts, [debug_info]}.
{deps, []}.

{pre_hooks, [
    { compile, "mkdir -p priv"},
    {
        "darwin", compile,
        "sh -c \"cd rust/luhn && cargo build --release && cp target/release/libluhn.dylib ../../priv/\""
    },
    {
        "linux", compile,
        "sh -c \"cd rust/luhn && cargo build --release && cp target/release/libluhn.so ../../priv/\""
    }
]}.
